<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>
    {% if title %}
      喜雀公寓-{{ title }}
    {% else %}
      喜雀公寓
    {% endif %}  
  </title>
  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">

  <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-theme.min.css">

  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
    {% block tempcode %}
    This is the default content
    {% endblock %}
</body>
</html>